<!DOCTYPE html>
<html>
<head>
    <meta>charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <style>
        body {
            background-color: rgb(89, 92, 92);
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: auto;
            text-align: center;
        }
         button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
</head>
<body>
    <h1>Set your new password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><strong>Change password</strong></button>
    </form>
</body>
</html>
