<!DOCTYPE html>
<html>
  <head>
    <meta />
    charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Complete</title>
    <style>
      body {
        background-color: rgb(82, 95, 95);
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Password reset complete</h1>
    <p>
      Your password has been set. You may now
      <a href="/accounts/login/"><strong>log in</strong></a
      >.
    </p>
  </body>
</html>
